In [26]:
import pandas as pd
import numpy as np

In [27]:
!curl -L -o True.csv https://www.dropbox.com/scl/fi/odl1rjv9ttmg4f3mjk55z/True.csv?rlkey=9d5lv7ltc1ob9mlo9iionemrm&e=1&st=tzc6sp4n&dl=0
!curl -L -o False.csv https://www.dropbox.com/scl/fi/303jbuwuytw9cjm9u6iyf/Fake.csv?rlkey=948fk1wbt34hppldi80vnnl9c&e=1&st=mpqkmljo&dl=0

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100    17  100    17    0     0     14      0  0:00:01  0:00:01 --:--:--    14

  0 51.1M    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0 51.1M    0  288k    0     0   101k      0  0:08:35  0:00:02  0:08:33  326k
  1 51.1M    1  912k    0     0   233k      0  0:03:44  0:00:03  0:03:41  467k
  3 51.1M    3 1808k    0     0   374k      0  0:02:19  0:00:04  0:02:15  629k
  5 51.1M    5 2688k    0     0   460k      0  0:01:53  0:00:05  0:01:48  693k
  7 51.1M    7 3824k    0     0   560k      0  0:01:33  0:00:06  0:01:27  785k
  9 51.1M    9 5008k    0     0   640k      0  0:01:21  0:00:07  0:01:14  946k
 11 51.1M   11 5824k    0     0   659k      0  0:01:19  0:00:08  0:01:11  998k
 13 51.1M   13 6896k    0     0   701k      0  0:01:14  0:00:09  0:01:05 1018k
 15 51.1M   15 7952k    0     0   733k      0  0:01:11  0:00:10  0:01:01 1052k
 16 51.1M   16 8816k    0     0   743k      0  0:01:10  0:00:11  0:00:59  993k
 18 51.1M   18 9872k    0     0   769k      0  0:01:08  0:00:12  0:00:56  971k
 21 51.1M   21 10.8M    0     0   801k      0  0:01:05  0:00:13  0:00:52 1052k
 23 51.1M   23 12.0M    0     0   830k      0  0:01:02  0:00:14  0:00:48 1084k
 25 51.1M   25 13.1M    0     0   853k      0  0:01:01  0:00:15  0:00:46 1112k
 28 51.1M   28 14.4M    0     0   876k      0  0:00:59  0:00:16  0:00:43 1193k
 30 51.1M   30 15.4M    0     0   889k      0  0:00:58  0:00:17  0:00:41 1196k
 32 51.1M   32 16.5M    0     0   902k      0  0:00:58  0:00:18  0:00:40 1178k
 34 51.1M   34 17.7M    0     0   915k      0  0:00:57  0:00:19  0:00:38 1164k
 36 51.1M   36 18.5M    0     0   909k      0  0:00:57  0:00:20  0:00:37 1087k
 38 51.1M   38 19.5M    0     0   919k      0  0:00:56  0:00:21  0:00:35 1062k
 40 51.1M   40 20.5M    0     0   922k      0  0:00:56  0:00:22  0:00:34 1043k
 41 51.1M   41 21.4M    0     0   920k      0  0:00:56  0:00:23  0:00:33  987k
 43 51.1M   43 22.3M    0     0   922k      0  0:00:56  0:00:24  0:00:32  950k
 46 51.1M   46 23.5M    0     0   933k      0  0:00:56  0:00:25  0:00:31 1032k
 48 51.1M   48 24.6M    0     0   940k      0  0:00:55  0:00:26  0:00:29 1033k
 50 51.1M   50 25.5M    0     0   941k      0  0:00:55  0:00:27  0:00:28 1025k
 52 51.1M   52 26.7M    0     0   948k      0  0:00:55  0:00:28  0:00:27 1084k
 54 51.1M   54 27.7M    0     0   952k      0  0:00:54  0:00:29  0:00:25 1100k
 55 51.1M   55 28.5M    0     0   948k      0  0:00:55  0:00:30  0:00:25 1023k
 58 51.1M   58 29.6M    0     0   954k      0  0:00:54  0:00:31  0:00:23 1029k
 60 51.1M   60 30.7M    0     0   958k      0  0:00:54  0:00:32  0:00:22 1052k
 62 51.1M   62 31.7M    0     0   962k      0  0:00:54  0:00:33  0:00:21 1044k
 64 51.1M   64 32.9M    0     0   969k      0  0:00:53  0:00:34  0:00:19 1070k
 66 51.1M   66 34.0M    0     0   971k      0  0:00:53  0:00:35  0:00:18 1115k
 68 51.1M   68 34.9M    0     0   970k      0  0:00:53  0:00:36  0:00:17 1069k
 70 51.1M   70 36.0M    0     0   975k      0  0:00:53  0:00:37  0:00:16 1086k
 72 51.1M   72 37.1M    0     0   980k      0  0:00:53  0:00:38  0:00:15 1104k
 74 51.1M   74 38.0M    0     0   979k      0  0:00:53  0:00:39  0:00:14 1049k
 76 51.1M   76 39.2M    0     0   984k      0  0:00:53  0:00:40  0:00:13 1074k
 78 51.1M   78 40.2M    0     0   985k      0  0:00:53  0:00:41  0:00:12 1096k
 79 51.1M   79 40.8M    0     0   976k      0  0:00:53  0:00:42  0:00:11  986k
 82 51.1M   82 41.9M    0     0   980k      0  0:00:53  0:00:43  0:00:10  982k
 84 51.1M   84 43.1M    0     0   984k      0  0:00:53  0:00:44  0:00:09 1031k
 86 51.1M   86 43.9M    0     0   981k      0  0:00:53  0:00:45  0:00:08  960k
 87 51.1M   87 44.9M    0     0   982k      0  0:00:53  0:00:46  0:00:07  954k
 90 51.1M   90 46.0M    0     0   985k      0  0:00:53  0:00:47  0:00:06 1066k
 91 51.1M   91 46.6M    0     0   977k      0  0:00:53  0:00:48  0:00:05  946k
 93 51.1M   93 47.6M    0     0   979k      0  0:00:53  0:00:49  0:00:04  935k
 95 51.1M   95 48.7M    0     0   983k      0  0:00:53  0:00:50  0:00:03  997k
 97 51.1M   97 49.5M    0     0   979k      0  0:00:53  0:00:51  0:00:02  953k
 99 51.1M   99 50.6M    0     0   981k      0  0:00:53  0:00:52  0:00:01  939k
100 51.1M  100 51.1M    0     0   983k      0  0:00:53  0:00:53 --:--:-- 1049k
"e" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
"st" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
"dl" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100    17  100    17    0     0     16      0  0:00:01  0:00:01 --:--:--    16

  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  1 59.8M    1  767k    0     0   301k      0  0:03:23  0:00:02  0:03:21 1075k
  3 59.8M    3 1839k    0     0   517k      0  0:01:58  0:00:03  0:01:55 1071k
  4 59.8M    4 2735k    0     0   598k      0  0:01:42  0:00:04  0:01:38 1000k
  5 59.8M    5 3631k    0     0   654k      0  0:01:33  0:00:05  0:01:28  979k
  7 59.8M    7 4735k    0     0   722k      0  0:01:24  0:00:06  0:01:18 1004k
  9 59.8M    9 5711k    0     0   755k      0  0:01:21  0:00:07  0:01:14  987k
 11 59.8M   11 6751k    0     0   788k      0  0:01:17  0:00:08  0:01:09  981k
 12 59.8M   12 7887k    0     0   826k      0  0:01:14  0:00:09  0:01:05 1035k
 14 59.8M   14 8959k    0     0   848k      0  0:01:12  0:00:10  0:01:02 1063k
 16 59.8M   16 9951k    0     0   861k      0  0:01:11  0:00:11  0:01:00 1044k
 18 59.8M   18 10.8M    0     0   884k      0  0:01:09  0:00:12  0:00:57 1079k
 19 59.8M   19 11.5M    0     0   873k      0  0:01:10  0:00:13  0:00:57 1019k
 20 59.8M   20 12.5M    0     0   881k      0  0:01:09  0:00:14  0:00:55  985k
 22 59.8M   22 13.5M    0     0   894k      0  0:01:08  0:00:15  0:00:53  990k
 24 59.8M   24 14.6M    0     0   907k      0  0:01:07  0:00:16  0:00:51 1012k
 25 59.8M   25 15.3M    0     0   895k      0  0:01:08  0:00:17  0:00:51  924k
 27 59.8M   27 16.3M    0     0   901k      0  0:01:08  0:00:18  0:00:50  975k
 29 59.8M   29 17.5M    0     0   916k      0  0:01:06  0:00:19  0:00:47 1019k
 30 59.8M   30 18.2M    0     0   911k      0  0:01:07  0:00:20  0:00:47  964k
 32 59.8M   32 19.2M    0     0   913k      0  0:01:07  0:00:21  0:00:46  935k
 34 59.8M   34 20.3M    0     0   925k      0  0:01:06  0:00:22  0:00:44 1029k
 35 59.8M   35 21.2M    0     0   923k      0  0:01:06  0:00:23  0:00:43 1006k
 37 59.8M   37 22.3M    0     0   931k      0  0:01:05  0:00:24  0:00:41  989k
 38 59.8M   38 23.2M    0     0   931k      0  0:01:05  0:00:25  0:00:40 1011k
 40 59.8M   40 24.2M    0     0   936k      0  0:01:05  0:00:26  0:00:39 1034k
 42 59.8M   42 25.2M    0     0   940k      0  0:01:05  0:00:27  0:00:38 1006k
 44 59.8M   44 26.4M    0     0   947k      0  0:01:04  0:00:28  0:00:36 1062k
 45 59.8M   45 27.4M    0     0   950k      0  0:01:04  0:00:29  0:00:35 1045k
 47 59.8M   47 28.4M    0     0   952k      0  0:01:04  0:00:30  0:00:34 1058k
 49 59.8M   49 29.4M    0     0   956k      0  0:01:04  0:00:31  0:00:33 1062k
 50 59.8M   50 30.5M    0     0   959k      0  0:01:03  0:00:32  0:00:31 1069k
 52 59.8M   52 31.4M    0     0   959k      0  0:01:03  0:00:33  0:00:30 1023k
 54 59.8M   54 32.5M    0     0   964k      0  0:01:03  0:00:34  0:00:29 1046k
 55 59.8M   55 33.4M    0     0   961k      0  0:01:03  0:00:35  0:00:28 1016k
 56 59.8M   56 34.0M    0     0   955k      0  0:01:04  0:00:36  0:00:28  946k
 58 59.8M   58 35.1M    0     0   957k      0  0:01:04  0:00:37  0:00:27  945k
 60 59.8M   60 35.9M    0     0   955k      0  0:01:04  0:00:38  0:00:26  934k
 61 59.8M   61 36.6M    0     0   948k      0  0:01:04  0:00:39  0:00:25  839k
 62 59.8M   62 37.6M    0     0   951k      0  0:01:04  0:00:40  0:00:24  879k
 64 59.8M   64 38.7M    0     0   955k      0  0:01:04  0:00:41  0:00:23  954k
 66 59.8M   66 39.6M    0     0   955k      0  0:01:04  0:00:42  0:00:22  934k
 68 59.8M   68 40.8M    0     0   959k      0  0:01:03  0:00:43  0:00:20  991k
 70 59.8M   70 41.9M    0     0   964k      0  0:01:03  0:00:44  0:00:19 1091k
 71 59.8M   71 43.0M    0     0   967k      0  0:01:03  0:00:45  0:00:18 1096k
 73 59.8M   73 43.9M    0     0   966k      0  0:01:03  0:00:46  0:00:17 1056k
 75 59.8M   75 45.0M    0     0   970k      0  0:01:03  0:00:47  0:00:16 1102k
 76 59.8M   76 45.9M    0     0   969k      0  0:01:03  0:00:48  0:00:15 1055k
 78 59.8M   78 46.8M    0     0   967k      0  0:01:03  0:00:49  0:00:14  992k
 80 59.8M   80 47.9M    0     0   971k      0  0:01:03  0:00:50  0:00:13 1006k
 81 59.8M   81 48.7M    0     0   968k      0  0:01:03  0:00:51  0:00:12  988k
 82 59.8M   82 49.3M    0     0   962k      0  0:01:03  0:00:52  0:00:11  880k
 84 59.8M   84 50.4M    0     0   963k      0  0:01:03  0:00:53  0:00:10  908k
 85 59.8M   85 51.3M    0     0   963k      0  0:01:03  0:00:54  0:00:09  929k
 87 59.8M   87 52.2M    0     0   963k      0  0:01:03  0:00:55  0:00:08  885k
 89 59.8M   89 53.3M    0     0   965k      0  0:01:03  0:00:56  0:00:07  939k
 90 59.8M   90 54.1M    0     0   963k      0  0:01:03  0:00:57  0:00:06  978k
 92 59.8M   92 55.1M    0     0   964k      0  0:01:03  0:00:58  0:00:05  972k
 94 59.8M   94 56.2M    0     0   968k      0  0:01:03  0:00:59  0:00:04 1013k
 95 59.8M   95 57.0M    0     0   964k      0  0:01:03  0:01:00  0:00:03  980k
 96 59.8M   96 57.6M    0     0   958k      0  0:01:03  0:01:01  0:00:02  877k
 98 59.8M   98 58.7M    0     0   961k      0  0:01:03  0:01:02  0:00:01  940k
100 59.8M  100 59.8M    0     0   965k      0  0:01:03  0:01:03 --:--:--  971k
"e" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
"st" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.
"dl" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

In [28]:
#Readin input files
dft = pd.read_csv("True.csv")
dff = pd.read_csv("False.csv")

In [29]:
dft.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [30]:
dff.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [31]:
dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [32]:
dft.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [33]:
dft.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [34]:
#New column reliability
dft = dft.assign(reliability=[1 for i in range(len(dft))])
dff = dff.assign(reliability=[0 for i in range(len(dff))])

In [35]:
#Concatinating real and fake news_dataframes
df = pd.concat([dft, dff])
df.index = range(0,len(df))

In [36]:
df[df['reliability'] == 0].head()

,title,text,subject,date,reliability
21417,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
21418,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
21419,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
21420,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
21421,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [37]:
df[df['reliability'] == 1].head()

,title,text,subject,date,reliability
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        44898 non-null  object
 1   text         44898 non-null  object
 2   subject      44898 non-null  object
 3   date         44898 non-null  object
 4   reliability  44898 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [39]:
df.tail(10)

,title,text,subject,date,reliability
44888,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
44889,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
44890,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
44891,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
44892,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
44893,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
44894,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
44895,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
44896,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
44897,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [40]:
#Deleting noize symbols from dataframe "df" on column "content_field"
def standardize_text(df, content_field):
    df[content_field] = df[content_field].str.replace(r"[^A-Za-z0-9\(\),!?@\'\`\"_n]", " ")
    df[content_field] = df[content_field].replace(r'[^?!\.\w\s]',' ',regex=True)
    df[content_field] = df[content_field].str.lower()
    return df

In [41]:
standardize_text(df, "title")
standardize_text(df, "text")
standardize_text(df, "subject")
standardize_text(df, "date")

<ipython-input-40-7c7e1344bb11>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[content_field] = df[content_field].str.replace(r"[^A-Za-z0-9\(\),!?@\'\`\"_n]", " ")

,title,text,subject,date,reliability
0,as u s budget fight looms republicans flip t...,washington reuters the head of a conservat...,politicsnews,december 31 2017,1
1,u s military to accept transgender recruits o...,washington reuters transgender people will...,politicsnews,december 29 2017,1
2,senior u s republican senator let mr muell...,washington reuters the special counsel inv...,politicsnews,december 31 2017,1
3,fbi russia probe helped by australian diplomat...,washington reuters trump campaign adviser ...,politicsnews,december 30 2017,1
4,trump wants postal service to charge much mor...,seattle washington reuters president donal...,politicsnews,december 29 2017,1
...,...,...,...,...,...
44893,mcpain john mccain furious that iran treated ...,21st century wire says as 21wire reported earl...,middle east,january 16 2016,0
44894,justice? yahoo settles e mail privacy class ac...,21st century wire says it s a familiar theme ...,middle east,january 16 2016,0
44895,sunnistan us and allied safe zone plan to t...,patrick henningsen 21st century wireremember ...,middle east,january 15 2016,0
44896,how to blow 700 million al jazeera america f...,21st century wire says al jazeera america will...,middle east,january 14 2016,0
44897,10 u s navy sailors held by iranian military ...,21st century wire says as 21wire predicted in ...,middle east,january 12 2016,0

In [42]:
import re
import string
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [47]:
#Bring the text to one view
def lemmatization(df, content_field):
  lemmatizer=WordNetLemmatizer()
  corpus = []
  for i in range(0,len(df)):
    text = df[content_field][i]
    tokens = word_tokenize(text)
    lemmatized_text = [lemmatizer.lemmatize(word) for word in tokens if not word in stopwords.words('english')]
    text = ' '.join(lemmatized_text)
    corpus.append(text)
  return corpus

In [44]:
for column in df.columns[:-1]:
  df[column] = lemmatization(df, column)

In [45]:
df.tail()

,title,text,subject,date,reliability
44893,mcpain john mccain furious iran treated u sail...,21st century wire say 21wire reported earlier ...,middle east,january 16 2016,0
44894,justice ? yahoo settle e mail privacy class ac...,21st century wire say familiar theme whenever ...,middle east,january 16 2016,0
44895,sunnistan u allied safe zone plan take territo...,patrick henningsen 21st century wireremember o...,middle east,january 15 2016,0
44896,blow 700 million al jazeera america finally ca...,21st century wire say al jazeera america go hi...,middle east,january 14 2016,0
44897,10 u navy sailor held iranian military sign ne...,21st century wire say 21wire predicted new yea...,middle east,january 12 2016,0

In [46]:
#saving dataframe to localmemory
df.to_csv('Fake_True.csv', index = False)